img {
  border: 5px solid white;
  margin-top: 100px;
  width: 350px;
  float: right;
  border-radius: 50%
}

.title {
  color: white;
  font-size: 100px;
  font-family: Lobster;
  text-align: center;
}

.title2 {
  font-size:30px;
  font-family: Poppins;
  color: #8aacb8;
  text-align: center;
}

body {
  background-color: #808080;
}

li {
  font-size: 25px;
  font-family: Questrial;
  font-weight: bold;
}

a {
  color: white;
}

.sublist {
  font-size: 15px;
  font-family: Poppins;
  list-style-type: none;
  color: #B3B3B3;
}

.section {
  font-family: Lobster;
  color: #8aacb8;
  font-size: 30px;
}

.gridlist li{
  color: black;
  font-size: 15px;
  font-family: Poppins;

}
.grid {
  border: 15px double #8aacb8;
  background-color: white;
}

.gridimg {
  width: 200px;
  border-radius: 10%;
}

.listlnk {
  color: #5CACEE;
}
