img {
  border: 5px solid white;
  margin-top: 20px;
  width: 350px;
  float: right;
  border-radius: 50%
}
p {
  font-size: 16px;
  color: white;
  margin: auto;

}
.title {
  color: white;
  font-size: 120px;
  font-family: Lobster;
  text-align: center;
  text-shadow:0 0 20px black;

}

.title2 {
  font-size:30px;
  font-family: Poppins;
  color: black;
  text-align: center;
  text-shadow: 0 0 1px black;
}

body {
  background-color: #74AFAD;
}

li {
  font-size: 25px;
  font-family: Questrial;
  font-weight: bold;
}

a {
  color: white;
  text-shadow: 0 0 1px black;
}

.sublist {
  font-size: 15px;
  font-family: Poppins;
  list-style-type: none;
  color:#3D3D3D;
}

.section {
  font-family: Lobster;
  color: #00688B;
  font-size: 40px;
}

.section2 {
  font-family: Lobster;
  color: white;
  font-size: 30px;
  text-shadow: 0 0 3px black;
}

.gridlist li{
  color: black;
  font-size: 15px;
  font-family: Poppins;
  padding-bottom: 20px;

}
.grid {
  border: 15px double #00688B;
  background-color: white;
}

.gridimg1 {
  width: 100px;
  border-radius: 10%;
  padding-bottom: 33px;
}

.gridimg2 {
  width: 100px;
  border-radius: 10%;
  padding-bottom: 12px;
}

.gridimg3 {
  width: 120px;
  padding-bottom: 50px
  border-radius: 50%;
}

.listlnk {
  color: #00688B;
}
