img {
  margin-top: 50px;
  width: 400px;
  float: right;
  border-radius: 50%
}

.title {
  color: white;
  font-size: 90px;
  font-family: Lobster;
}

.title2 {
  font-family: Poppins;
}

body {
  background-color: #808080;
}

li {
  font-size: 20px;
  font-family: Questrial;
}

a {
  color: white;
}

.sublist {
  font-size: 15px;
  font-family: Poppins;
  list-style-type: none;
}
